<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="description" content="">   
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="home.css">  
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow: auto;
      }

    </style>
  </head>
  
<body style="margin:0;">
  <header class="header">
  </header>

  <div class="body">
  <p>yo</p>
  <img src=""/>
<!--
    <a href="/" id="login" class="twitter-button">
      <i class="icon-twitter"></i>
      Sign in with Twitter
    </a>
-->
    <div id="sampleFeed">

    </div>

  </div>

</body>
</html>